---
swagger: "2.0"
info:
  description: "ECS API"
  version: "0.0.1"
  title: "ECS API"
  contact:
    email: "eiffel.zhou@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.ecs.io"
basePath: "/v1"
schemes:
- "https"
- "http"
paths:
  /task:
    post:
      summary: "Create a task"
      description: ""
      operationId: "addTask"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Task object"
        required: true
        schema:
          $ref: "#/definitions/Task"
        x-exportParamName: "Body"
      responses:
        200:
          description: "Succeed scheduled"
        405:
          description: "Failed"
  /task/list:
    get:
      summary: "List all tasks"
      description: ""
      operationId: "listTasks"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Task"
        400:
          description: "Invalid status value"
definitions:
  Task:
    type: "object"
    required:
    - "name"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      image:
        type: "string"
      cpu:
        type: "integer"
      memory:
        type: "integer"
      duration:
        type: "integer"
      status:
        type: "string"
        description: "task status"
        enum:
        - "pending"
        - "running"
        - "failed"
        - "done"
    example:
      duration: 5
      image: "image"
      memory: 1
      name: "name"
      cpu: 6
      id: 0
      status: "pending"
